<!DOCTYPE html>
<html>
<head>
    <title>User Dashboard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>

        body{
            background:#071739;
            color:white;
        }

        .card-buku{
            background:#0d234f;
            border-radius:20px;
            padding:15px;
            box-shadow:0 0 15px rgba(0,0,0,0.3);
            transition:0.3s;
        }

        .card-buku:hover{
            transform:scale(1.03);
        }

        img{
            height:250px;
            object-fit:cover;
            border-radius:10px;
        }

    </style>

</head>

<body>

<div class="container mt-5">

    <div class="d-flex justify-content-between">

        <div>
            <h1>Halo, {{ session['username'] }} 👋</h1>
            <p>Dashboard user perpustakaan</p>
        </div>
        <a href="/favorite-list" class="btn btn-warning mb-4">
    ❤️ Favorite Saya
</a>
<a href="/pinjam-list" class="btn btn-info mb-4">
    📚 Buku Dipinjam
</a>

        <div>
            <a href="/logout" class="btn btn-danger">
                Logout
            </a>
        </div>

    </div>

    <hr class="text-white">

    <form method="GET" class="mb-4">

        <input
            type="text"
            name="cari"
            class="form-control"
            placeholder="Cari buku..."
        >

    </form>

    <div class="row">

        {% for b in buku_list %}

        <div class="col-6 col-md-4 col-lg-3 mb-4">

    <div class="card-buku p-2">

        <img
    src="https://ougnllblbwrzewqgskle.supabase.co/storage/v1/object/public/books/gambar/{{ b.gambar }}"
    class="img-fluid rounded mb-2"
    style="height:220px; object-fit:cover; width:100%;"
>

<h6>{{ b.nama }}</h6>

<p class="small">
    Penulis : {{ b.penulis }}
</p>

<a href="https://ougnllblbwrzewqgskle.supabase.co/storage/v1/object/public/books/pdf/{{ b.pdf }}"
   target="_blank"
   class="btn btn-primary btn-sm">
   Baca
</a>

<a href="https://ougnllblbwrzewqgskle.supabase.co/storage/v1/object/public/books/pdf/{{ b.pdf }}"
   download
   class="btn btn-success btn-sm">
   Download
</a>

<a href="/favorite/{{ b.id }}"
   class="btn btn-warning btn-sm">
   Favorite
</a>

<a href="/pinjam/{{ b.id }}"
   class="btn btn-info btn-sm">
   Pinjam
</a>

        </div>

    </div>

</div>

        {% endfor %}

    </div>

</div>
</body>
</html>